<!DOCTYPE html>
  <html>
    <head>
      <title>AdService</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'dataturbolinkstrack': 'reload' %>
      <%= javascript_include_tag 'application', 'dataturbolinkstrack': 'reload' %>
    </head>

    <body>
      <%= render '/layouts/navbar' %>
      <% if !user_signed_in? %>
        <%= render '/layouts/authentication' %>
      <% end %>
      <%= yield %>
    </body>
  </html>
